@page
@model OdeToFood.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>

<p>Use this page to provide additional information about your app</p>
<div>
    Kevin says hi!!!
</div>
